.addnote_container{
    background: #e4db5a;
    margin-bottom: 0.8rem;
    border-radius: 0.7rem;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    

}
textarea{
    background: #e4db5a;
    margin-bottom: 0.8rem;
    border-radius: 0.7rem;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;

}